.image-list-container
    background: #96c9ee
    margin: 0 auto
    width: 100%
    position: relative
    min-height: calc( 100vh - 160px) // вычитаем из общей высоты высоту футера и хедера
    display: flex
    align-items: center
    justify-content: center
    .photos-wrapper
        margin: auto auto
        height: auto
        display: flex
        flex-wrap: wrap
        img
            display: block
            width: 150px
            height: 150px
